/* .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: black;
    color: white;
}

header{
    background-color: brown;
    color: white;
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 10;

    .navegacion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;

        .anclaLogo{
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 1.2rem;
        }

        .listaNav{
            list-style: none;
            display: flex;
            align-items: center;
            
            .listaItem{
                margin-right: 20px;
                
                .linkNav{
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;

                    transition: transform 0.5s, box-shadow 0.5s;
                    &:hover{
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        border-radius: 5px;

                    }
                    
                }
                .linkNav.iniciarSesion{
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    &:hover{
                        background-color: brown;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        border-radius: 5px;

                    }
                
                }
            }
        }
    }
}
/*estilos mobil y tablet*/
@media (max-width: 768px){
    .header{
        height: initial;

        .navegacion{
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .anclaLogo {
                font-weight: 700;
                font-size: 1.2rem;

            }
            .listaNav{
                padding: initial;

                .listaItem{
                    .linkNav{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}
.main{
    .sectionPrincipal{
        color: white;
        background:linear-gradient(to right top, #0000008a, #0000008a), url(../img/banner-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .botonRegistrarse{
            background-color: brown;
            color: white;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover{
                background-color: brown;
                transform: scale(0.95);
                box-shadow: 0 0 10px gray;
            }
        }
    }
    .buscadorPrincipal{
        background-color: #181419;
        color:white;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid white;
                border-radius: 25px;
                color: #ffffff;
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }
    
}