*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

::-webkit-scrollbar-thumb {
    background: #9f3647;
}
  
::-webkit-scrollbar-thumb:hover {
    background:#9f3647;
}
body{
    background-color: black;
    color: white;
}
header{
    background-color: brown;
    color: white;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    .navegacion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;
        .anclaLogo{
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 1.2rem;
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
        .listaNav{
            list-style: none;
            display: flex;
            align-items: center;
            .listaItem{
                margin-right: 20px;
                .linkNav{
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    transition: transform 0.5s, box-shadow 0.5s;
                    &:hover{
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        border-radius: 5px;   
                    }
                }
                .linkNav.iniciarSesion{
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    &:hover{
                        background-color: brown;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                    }
                }
                .linkNav.conectApi{
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    &:hover{
                        background-color: brown;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
/*estilos mobil y tablet*/
@media (max-width: 890px){
    .header{
        height: initial;
        
        .navegacion{
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;
            .anclaLogo {
                font-weight: 700;
                font-size: 1.2rem;
            }
            .listaNav{
                padding: initial;
                
                .listaItem{
                    .linkNav{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.3rem;
                    }
                }
            }
        }
    }
}

.main{
    /*background-color: #181419;*/
    color: #ffffff;
    .sectionPrincipal{
        color: rgb(255, 255, 255);
        background:linear-gradient(to right top, #0000008a, #0000008a), url(../img/banner-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .subtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .botonRegistrarse{
            background-color: brown;
            color: white;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover{
                background-color: brown;
                transform: scale(0.95);
                box-shadow: 0 0 10px gray;
            }
        }
        
    }
    .buscadorPrincipal{
        background-color: #181419;
        color:white;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid white;
                border-radius: 25px;
                color: #ffffff;
                font-size: 1.5rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
            }
        }
       
    }
    .peliculasTendencia{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;

        }
        .peliculas{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;
            a{
                text-decoration: none;
                color: white;
                .pelicula{
                    width: 200px;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.5s ease;

                    .imgTendencia{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;

                    }
                    .tituloPelicula{
                        z-index: 2;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        max-width: 20rem;
                        width: 100%;
                        transform: translateY(-50%) translateX(-50%);
                        h4{
                            font-size: 2rem;
                            font-weight: bold;
                            opacity: 0;
                            margin-bottom: 0.5rem;
                            letter-spacing: 0.1rem;
                            transition: opacity 0.5s ease-in-out;
                        }
                        

                    }
                    &:hover{
                        box-shadow: 0 0 30px cyan;
                        transform: scale(1.1);
                    }
                    &:hover h4{
                        opacity: 1;
                        
                    }
                    &:hover::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-color: #9f3648;
                        z-index: 1;
                    }
                }
            }
        }
        .boton{
            border: 1px solid white;
            box-sizing: content-box;
            margin-top: 50px;
            margin-left: 20px;
            background-color: #9f3647;
            color: #ffffff;
            padding: 1rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            margin-bottom: 60px;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover{
                background-color: #9f3647;
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.3)
            }
        }
    }
    .peliculasAclamadas{
        width:80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom:60px;
        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .aclamadas{
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0px 0px 40px 0px;
            .peliculaItem{
                border-radius: 25px;
                width: 170px;
                min-width: 170px;
                font-size: 20px;
                cursor: pointer;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               
                .imgAclamada{
                    border-radius: 5%;
                    width: 95%;
                    height: 95%;
                    object-fit: cover;
                }
                
            }
           
        
        }
    }
}
.bodyRegistrarse{
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473),url("../img/bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color: #ffffff;
        height: 8vh;
        padding: 30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;

            }
        }
    }
    .main{
        .seccionRegistrarse{
            background-color: rgb(42, 42, 42);
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size: 1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
                color: #ffffff;

            }
            form{
                width: 100%;
                padding: 40px;
                input:not(.check,.boton), select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #9f3647;
                    background-color: #333333;
                    outline: none;
                    color: white;
                }
                .error input:not(.check,.boton),.error select{
                    border: 1px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color: #9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;

                }
                .ayuda{
                    margin-top: 40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight: 400;
                    
                }
            }

        }
        
    }
}
@media (max-width: 890px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:30px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 3rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 1rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 1rem;
                }
               }
               
            }
            .peliculasAclamadas{
                .tituloSection{
                    font-size: 2rem;
                }
                .aclamadas{
                    .peliculaItem{
                        width: 150px;
                        min-width: 150px;
                        font-size: 15px;
                        margin-left: 20px;
                        .imgAclamada{
                            width: 90%;
                            height: 90%;
                        }
                    }
                }
            }
        }
    }

}